@model InternetPlatformOfArtist.Models.Participant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionParticipant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetitionParticipant.IdCompetition)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupParticipant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupParticipant.IdGroup)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCompetition" />
        <input type="hidden" asp-for="IdGroup" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
