.user-container{
    display: none;
    &-button{
        width: 137px;
        height: 40px;
        border: none;
        background: #FFD700;
        box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: white;
        margin-bottom: 30px;
    }
}
.active{
    position: absolute;
    display: block;
    top: 100px;
    background-color: #FFF8EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 48px 80px 18px;
    right: 0;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.auth{
    padding: 0;
}
