.table{
    margin: 0 auto;
    text-align: left;
    border-spacing: 10px 30px;
    border-collapse: collapse;
    tr:first-child td{
        padding: 0;
        padding-top: 40px;
        background-color: white;
        padding-bottom: 30px;
        text-align: right;
    }
    &-button{
        display: block;
        margin: 0 auto;
        border: none;
        background-color: inherit;
    }
    td{
        padding: 10px 20px;
        border-bottom: 1px solid white;
        transition: all 0.5s linear;
    }
    th{
        padding: 10px 20px;
        border-bottom: 1px solid white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    th:nth-child(even)  {
        background: #FFE974;
    }
    th:nth-child(odd)  {
        background: #FFFAD1;
    } 
    
    td:nth-child(even) {
        background: #FFE974;
     }
    td:nth-child(odd) {
        background: #FFFAD1;
    }
    
    tr:last-child td{
        border-bottom: none;
    }
    tr:last-child td:last-child{
        border-bottom-right-radius: 10px;
    }
    tr:last-child td:first-child{
         border-bottom-left-radius: 10px;
    }
    
    tr:not(:first-child):hover td{
        background: #FFD700;
    }
}

.table_statement{
    margin-top: 60px;
}

.status{
    font-weight: 600;
    font-size: 16px;
}
